div.terms {
  width:600px;
  height:200px;
  border:1px solid #ccc;
  background:white;
  padding:6px;
  overflow:auto;
}
div.terms li { list-style-type: none; font:normal 11px/15px arial;color:#333;}
div.terms h3 {font:bold 14px/19px arial;color:#000;}
div.terms p,
div.terms h4 {font:bold 12px/17px arial;color:#000;}
div.terms strong {color:#000;}



.clearfix{

  clear:both;
}